<%- include('partials/header'); -%>
<div class="container">
    <h1 class="text-center mb-150px">Walcome to the Campground's world</h1>
    <div class="row">
        <%camps.forEach(function(camp){ %>
            <div class="col-lg-3 col-md-6" style="margin-bottom:20px;">
                <div class=" img-thumbnail">
                    <img style="width:99%; height:200px;" src="<%= camp.image %>">
                    <div class="caption">
                        <p class="text-center"><%= camp.name %></p> 
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    <a href="/campgrounds/new" class="text-center">Add new Campground</a>
</div>

<%- include('partials/footer') -%>